<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ops.newsurvey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:theme="@style/AppInside" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SignupActivity"
            android:label="Sign-Up" />
        <activity android:name=".PoliticsActivity" />
        <activity android:name=".SportsActivity" />
        <activity android:name=".TravelActivity" />
        <activity android:name=".LifestyleActivity" />
        <activity android:name=".MiscActivity" />
        <activity android:name=".PopActivity" />
    </application>

</manifest>